#h1 {
    -fx-text-fill: #000000;
    -fx-font-family: System;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-font-style: normal;
}

#h2 {
    -fx-text-fill: #000000;
    -fx-font-family: System;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-font-style: normal;
}

#h2-red {
    -fx-text-fill: #f44336;
    -fx-font-family: System;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-font-style: normal;
}


#p {
    -fx-text-fill: #000000;
    -fx-font-family: System;
    -fx-font-size: 12px;
    -fx-font-weight: normal;
    -fx-font-style: normal;
}

#button-log-out {
    -fx-base: #f44336;
    -fx-text-fill: #FAFAFA;
    -fx-font-family: System;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-font-style: normal;
}