#background {
    -fx-background-color: #FAFAFA;
    -fx-background-radius: 5%;
    -fx-border-color: #BDBDBD;
    -fx-border-width: 2px;
    -fx-border-radius: 5%;
}

#h1 {
	-fx-text-fill: #000000;
    -fx-font-family: System;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-font-style: normal;
}

#h3 {
	-fx-text-fill: #000000;
    -fx-font-family: System;
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-font-style: normal;
}

#p {
	-fx-text-fill: #000000;
    -fx-font-family: System;
    -fx-font-size: 12px;
    -fx-font-weight: normal;
    -fx-font-style: normal;
}

#logo {
    -fx-text-fill: #000000;
    -fx-font-family: System;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-font-style: italic;
}

#button-login {
    -fx-base: #8BC34A;
	/*-fx-background-color: #8BC34A;*/
	-fx-text-fill: #FAFAFA;
	-fx-font-family: System;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-font-style: normal;
}