#background {
    -fx-background-color: #FAFAFA;
    -fx-background-radius: 10px;
    -fx-border-color: #BDBDBD;
    -fx-border-radius: 10px;
    -fx-border-width: 2px;
}

#back-button {
    -fx-base: #03A9F4;
}

#logo-label {
    -fx-text-fill: #212121;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-font-style: normal;
}

#title-label {
    -fx-text-fill: #212121;
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-font-style: normal;
}

#information-label {
    -fx-text-fill: #212121;
    -fx-font-size: 10px;
    -fx-font-weight: normal;
    -fx-font-style: italic;
}

#form-title-label {
    -fx-text-fill: #212121;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-font-style: normal;
}

#registration-button {
    -fx-base: #f44336;
    -fx-text-fill: #FAFAFA;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-font-style: normal;
}